# all.yaml
# Global variables for oscar emr installation
#===================================================================
# Copyright Jake Swart 2017 released under the MIT License
#===================================================================
---
  MYSQL_USER:        root
  MYSQL_PASSWORD:    root
  OSCAR_VERSION:     15
  OSCAR_SUB_VERSION: 70
  OSCAR_DEB_VERSION: 690
  OSCAR_PACKAGE:     oscar_emr{{OSCAR_VERSION}}-{{OSCAR_SUB_VERSION}}~{{OSCAR_DEB_VERSION}}.deb
  OSCAR_PROPERTIES:  /usr/share/tomcat7/oscar.properties
  HOME:              "{{ lookup('env', 'HOME') }}"
  DOWN:              "{{HOME}}/Downloads"
